/* reseteando el codigo */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Clase reutilizables */
body {
    margin: 0 auto;
    font-family: 'Montserrat', sans-serif;
    position: relative;
  }

  .text-uppercase {
    text-transform: uppercase;
  }

/* header */

header{
	z-index: 1;
	position: fixed;
	background-image: url(../assets/images/hero.gif);
	background-size: cover;
	top:0;
	left:0;
	width: 100%;
  height: auto;
	padding-bottom: 10px;
  outline: 1px solid red;
}

.container-nav {
  box-sizing: border-box;
  margin: 0 auto;
  overflow: auto;
  width: 90%;
  padding: 40px 0;
}

header figure {
  display: inline-block;
}

header figure img {
  width: 70px;
  height: auto;
  display: inline-block;
}

.menu {
  overflow: auto;
  display: inline-block;
  float: right;
}

.menu ul {
  list-style: none;
  color: #fff;
  padding-top: 1em;
}

.menu ul li {
  display: inline-block;
  padding: 5px 10px;
}

#home {
  /*margin-top: 120px;*/
  background-image: url("../assets/images/hero.gif");
  background-size: cover;
  width: 100%;
  height: auto;
  background-repeat: no-repeat;
  overflow: auto;
}

.square-white {
  margin-top: 120px;
  background-color: #fff;
  float: right;
  width: 43%;
}

.square-white h2 {
  color: #352384;
  font-size: 40px;
}

.texto-square-white {
  padding: 60px;
  outline: 2px solid red;
}

.square-white .texto-square-white p.subtitle {
  letter-spacing: 2px;
  padding: 5px 0;
  color: #352384;
}

.square-white .texto-square-white form {
  border-bottom: 1px solid rgb(73, 75, 73);
}

.square-white .texto-square-white form input {
  padding: 10px 0;
  font-size: 1em;
  border: none;
}

.square-white .texto-square-white form input .placeholder {
  font-size: 30px;
}

.botones {
  margin: 0 10px;
}

  .botones .become {
    background-color: #FF00BF;
    border-radius: 5px;
    border: none;
    color: #fff;
    /*float: left;*/
    font-size: 16px;
    font-weight: 600;
    padding: 15px 15px;
    margin: 10px 10px 10px 0;
  }

  .botones .sign {
    border: none;
    background-color: #fff;
    color: rgb(117, 117, 117);
    font-size: 20px;
    font-weight: lighter;
    text-decoration: underline;
  }

  .texto-square-white .texto-bajo {
    font-size: 10px;
    color: rgb(121, 121, 121);
  }

  .texto-bajo p a {
    color: #FF00BF;
    text-decoration: none;
  }

  .transition{
	background:linear-gradient(transparent,#76278F);
	width: 100%;
  position: absolute;
	height: 4em;
	top:28em;
}

#services  {
  background: linear-gradient(#76278F, #2B1E66);
  width: 100%;
  height: auto;
  margin: 0 auto;
  overflow: auto;
}

.container-services {
  width: 75%;
  height: auto;
  margin: 0 auto;
  overflow: auto;
  padding: 40px 0;
  box-sizing: border-box;
}

.text-services {
  float: left;
  height: auto;
  margin: 0 auto;
  color:#FFFFFF;
	font-family: 'Montserrat', sans-serif;
	padding-top:30px;
  width: 45%;
}

.container-services .text-services h3 {
  color: #fff;
  font-size: 28px;
  padding: 10px 0;
  font-weight: lighter;
}

.container-services .text-services p {
  color: #fff;
  font-size: 16px;
  line-height: 2em;
  margin-bottom: 50px;
  letter-spacing: 0.5px;
}


.container-services figure img {
  float: right;
  width: 50%;
}

/* PARTE 2 - LUCERO */

/* clases reutilizables */

.to-uppercase {
  text-transform: uppercase;
}

/* VIDEOS AND CAPTIONS */

.part1,
.part2,
.part3 {
  font-family: 'Montserrat', sans-serif;
  width: 100%;
  /* position: relative; */
  overflow: hidden;
  background-color: #fff;
}

.left-box {
  display: inline-block;
  position: absolute;
  margin-top: 50px;
  margin-left: 75px;
  margin-right: 75%;
}

.right-box {
  display: inline-block;
  margin-top: 50px;
  margin-right: 75px;
  margin-left: 75%;
  /* position: absolute; */
  float: right;
}

.part1 a,
.part2 a,
.part3 a {
  font-weight: 600;
  text-decoration: none;
  color: #333447;
  text-transform: uppercase;
  cursor: pointer;
}

.part1 h3,
.part2 h3,
.part3 h3 {
  color: #333447;
  font-size: 35px;
  font-weight: 600;
}

.part1 p,
.part2 p,
.part3 p {
  color: #333447;
  font-size: 20px;
  margin-top: 30px;
  line-height: 28px;
} 

.right-video {
  /* float: right;  */
  position: relative;
	padding-bottom: 35%;
	/* padding-top: 25px; */
	height: 0;   
}

.left-video {
  /* float: left; */
  position: relative;
	padding-bottom: 35%;
	/* padding-top: 25px; */
	height: 0;
}

.right-video iframe {
  position: absolute;
	top: 0;
	left: 30%;
	width: 70%;
	height: 100%;
}

.left-video iframe {
  position: absolute;
	top: 0;
	left: 0;
	width: 65%;
	height: 100%;
}

/* FOOTER */

footer {
  background-color: #333447;
  width: 100%;
  font-family: 'Montserrat', sans-serif;
  overflow: auto;
  color: #fff;
}

.column1,
.column2,
.column3 {
  display: inline-block;
}

footer a {
  text-decoration: none;
  color: #fff;
}

a:hover {
  color: #FF00BF;
  text-decoration: underline;
}

footer ul {
  list-style: none;
}

footer img {
  width: 160px;
  height: 50px;
  display: inline-block;
}


